.nb-file-list {
  display: flex;
}

.nb-upload {
  .ant-upload-list-item.ant-upload-list-item-list-type-picture-card {
    padding: 3px;
  }
  .ant-upload-list-item-thumbnail {
    img {
      object-fit: cover;
    }
  }
  .ant-upload-list-item-actions {
    left: auto !important;
    right: 2px !important;
    top: 2px !important;
    transform: none !important;
    .ant-btn-text:hover, .ant-btn-text:focus {
      background: rgba(0, 0, 0, 0.4);
    }
  }
  .ant-upload-list-picture-card .ant-upload-list-item-info {
    overflow: inherit;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-name {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #636363;
  }
  .ant-upload-list-picture-card .ant-upload-list-item:hover .ant-upload-list-item-info::before {
    display: none;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-progress {
    bottom: calc(50% - 11px);
    pointer-events: none;
  }
  .ant-btn {
    background: rgba(0, 0, 0, 0.5);
  }
  .ant-upload-list-picture-card-container {
    margin-bottom: 28px;
  }
}

.nb-upload-small {
  .ant-upload-list-picture-card-container {
    margin: 0 3px 3px 0;
    height: 32px;
    width: 32px;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-name {
    display: none;
  }
  .ant-upload-list-picture .ant-upload-list-item,
  .ant-upload-list-picture-card .ant-upload-list-item {
    padding: 1px;
  }
}

