/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colorBgScrollTrack);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorBgScrollBar);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorBgScrollBarHover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--colorBgScrollBarActive);
}

.rc-virtual-list-scrollbar-thumb {
  background: var(--colorBgScrollBar) !important;
}

.rc-virtual-list-scrollbar-thumb:hover {
  background: var(--colorBgScrollBarHover) !important;
}

.rc-virtual-list-scrollbar-thumb:active {
  background: var(--colorBgScrollBarActive) !important;
}

// Fix the style of the top collapsed menu button dropdown
.ant-menu-submenu-popup {
  backdrop-filter: none;
}

// Fix the style of the top collapsed menu button dropdown when clicking
.ant-menu-item.ant-menu-item-only-child.ant-pro-base-menu-horizontal-menu-item:active {
  background-color: var(--colorBgMenuItemSelected) !important;
}

// html {
//   overflow: hidden;
// }
