.page-content {
  margin: 24px;
}

.env-root-push + style + div > div {
  transform: translateX(-10%);
}

.env-root-push + div > div {
  transform: translateX(-10%);
}

@media only screen and (max-width: 800px) {
  .ant-row.nb-row {
    margin: 0 !important;
    .ant-col {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 !important;
      margin-bottom: 1px !important;
    }
  }
}
