.link-to-field-tag {
  &::after {
    content: ',';
  }
  &:last-child::after {
    content: '';
  }
}

.ant-table-cell {
  > .percent-field,
  > .number-field {
    text-align: right;
  }
}

.sub-table-field {
  overflow: auto;
  > .ant-table-wrapper {
    width: 1px;
    overflow: visible;
  }
}

.attachment-modal {
  .ant-modal-close {
    background: rgba(255,255,255,.4);
  }
}

.textarea-field-content {
  > *:last-child {
    margin-bottom: 0;
  }
}

.ant-table-cell.noco-field-percent,
.ant-table-cell.noco-field-number {
  text-align: right;
}