node_modules/
lib/
esm/
es/
.env
.env.e2e
.DS_Store
yarn-error.log
lerna-debug.log
/.vscode
/.idea
*.sqlite
coverage
.umi
.umi-production
/uploads
.env.test
docs-dist/
.npmrc
dist/
docker/**/storage
cache/diskstore-*
**/.dumi/tmp
**/.dumi/tmp-test
**/.dumi/tmp-production
packages/core/client/docs/contributing.md
packages/core/app/client/src/.plugins
tsconfig.paths.json
/playwright
.swc
ncc-cache/
yarn--**
v8-compile-cache-**
vitest.config.mts.timestamp-*
.github/copilot-instructions.md
