node_modules/
lib/
esm/
es/
.env
.DS_Store
yarn-error.log
lerna-debug.log
/.vscode
/.idea
*.sqlite
coverage
.umi
.umi-production
/uploads
.env.test
docs-dist/
.npmrc
dist/
docker/**/storage
cache/diskstore-*
*.nbdump
storage/duplicator/*
**/.dumi/tmp
**/.dumi/tmp-test
**/.dumi/tmp-production
packages/core/client/docs/contributing.md
