[submodule "docs/docs/vi"]
	path = docs/docs/vi
	url = https://github.com/Albert-mah/nocobase-docs-vi.git
[submodule "docs/docs/ar"]
	path = docs/docs/ar
	url = https://github.com/Albert-mah/nocobase-docs-ar.git
[submodule "docs/docs/cs"]
	path = docs/docs/cs
	url = https://github.com/Albert-mah/nocobase-docs-cs.git
[submodule "docs/docs/de"]
	path = docs/docs/de
	url = https://github.com/Albert-mah/nocobase-docs-de.git
[submodule "docs/docs/es"]
	path = docs/docs/es
	url = https://github.com/Albert-mah/nocobase-docs-es.git
[submodule "docs/docs/fr"]
	path = docs/docs/fr
	url = https://github.com/Albert-mah/nocobase-docs-fr.git
[submodule "docs/docs/he"]
	path = docs/docs/he
	url = https://github.com/Albert-mah/nocobase-docs-he.git
[submodule "docs/docs/hi"]
	path = docs/docs/hi
	url = https://github.com/Albert-mah/nocobase-docs-hi.git
[submodule "docs/docs/id"]
	path = docs/docs/id
	url = https://github.com/Albert-mah/nocobase-docs-id.git
[submodule "docs/docs/it"]
	path = docs/docs/it
	url = https://github.com/Albert-mah/nocobase-docs-it.git
[submodule "docs/docs/ja"]
	path = docs/docs/ja
	url = https://github.com/Albert-mah/nocobase-docs-ja.git
[submodule "docs/docs/ko"]
	path = docs/docs/ko
	url = https://github.com/Albert-mah/nocobase-docs-ko.git
[submodule "docs/docs/nl"]
	path = docs/docs/nl
	url = https://github.com/Albert-mah/nocobase-docs-nl.git
[submodule "docs/docs/pl"]
	path = docs/docs/pl
	url = https://github.com/Albert-mah/nocobase-docs-pl.git
[submodule "docs/docs/pt"]
	path = docs/docs/pt
	url = https://github.com/Albert-mah/nocobase-docs-pt.git
[submodule "docs/docs/ru"]
	path = docs/docs/ru
	url = https://github.com/Albert-mah/nocobase-docs-ru.git
[submodule "docs/docs/sv"]
	path = docs/docs/sv
	url = https://github.com/Albert-mah/nocobase-docs-sv.git
[submodule "docs/docs/th"]
	path = docs/docs/th
	url = https://github.com/Albert-mah/nocobase-docs-th.git
[submodule "docs/docs/tr"]
	path = docs/docs/tr
	url = https://github.com/Albert-mah/nocobase-docs-tr.git
[submodule "docs/docs/uk"]
	path = docs/docs/uk
	url = https://github.com/Albert-mah/nocobase-docs-uk.git
