**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
.dumi
.umi
.umi-production
.umi-test
packages/**/lib/**
packages/**/esm/**
packages/**/node_modules/**
packages/core/client/src/locale/*
**/locale/*
packages/core/database/src/sql-parser