**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
.umi
.umi-production
.umi-test
packages/**/lib/**
packages/**/esm/**
packages/**/node_modules/**
packages/core/client/src/locale/*
**/.dumi/tmp
**/.dumi/tmp-test
**/.dumi/tmp-production
packages/core/cli/templates/plugin/src/client/*.tpl
packages/app/client/src/.plugins
packages/**/locale/**
storage
./lerna.json