.ant-btn.ant-btn-danger {
  text-shadow: none;
  box-shadow: none;
}

.ant-formily-item-label {
  color: #000000d9;
  font-weight:600;
}

.ant-table-pagination.ant-pagination {
  margin-bottom: 0 !important;
}

.ant-formily-item {
  font-size: inherit !important;
}

:root {
  --nb-spacing: 24px;
  --nb-designer-offset: -10px;
}
.theme-compact {
  --nb-spacing: 12px;
  --nb-designer-offset: -6px;
  .ant-formily-item {
    margin-bottom: 12px;
  }
  .ant-card {
    margin-bottom: 12px !important;
  }
}

.ant-formily-item-control-content-component .ant-tag {
  white-space: pre-wrap;
}
