.ant-table-cell:not(.ant-table-selection-column) {
  min-width: 100px;
  white-space: nowrap;
}
.ant-table-wrapper {
  overflow: auto;
}
.table-pagination {
  margin-top: 24px;
  ul {
    float: right;
  }
}