.ant-collapse.empty {
  border: 0;
}

.nb-database-config {
  height: 46px;
  border-radius: 0px;
  background: none;
  border: 0;
  &:hover {
    background: #1890ff;
  }
  &:active {
    background: #1890ff;
  }
}
