.action-buttons {
  display: flex;
  justify-content: flex-end;
  .action-button {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  .filter-action-button {
    position: absolute;
    left: 24px;
  }
}