.avatar-dropdown-wrapper {
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .dropdown-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .avatar-dropdown-wrapper {
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    .dropdown-link {
      display: block;
      padding: 10px 20px;
    }
  }
}
